PORT=8080
APP_URL=http://localhost:8080

MONGODB_URI=mongodb://localhost:27017/agent4

JWT_SECRET=

ACCESS_TOKEN_EXPIRY=15
REFRESH_TOKEN_EXPIRY=10080
TWO_FACTOR_CODE_EXPIRY=10
VERIFICATION_CODE_EXPIRY=10
OAUTH_STATE_EXPIRY=10

AES_KEY=!!

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=@gmail.com
SMTP_PASS=
FROM_EMAIL=@gmail.com

PAYSTACK_SECRET_KEY=

PAYMENT_CALLBACK_URL=http://localhost:8080/api/payments/verify

SCRAPER_SERVICE_ADDRESS=localhost:50051
AGENT_SERVICE_ADDRESS=localhost:50052